.save_button
{
	font-size:14px;
	height:30;
	width:67;
	padding:2;
	background-color:#5B74A8; 
	color:#FFFFFF;
	border-top:#29447E;
    border-right-color:#29447E;
	border-bottom-color:#1A356E;
	border-left-color:#29447E;
	font-weight:bold;
	box-shadow:0px 0px 5px 1px rgb(0,0,0);
}

.cancel_button
{
	font-size:14px;
	height:30;
	width:75;
	padding:2;
	background-color:#E6E6E6; 
	color:#000;
	border-left-color:#29447E;
	font-weight:bold;
	box-shadow:0px 0px 5px 1px rgb(0,0,0);
}